.footer {
    background: url("../../../assets/images/bg/footer-bg.jpg") no-repeat;
    object-fit: fill;
    background-size: 100% 100%;
    position: relative;
    height: 350px;
    padding: 40px;
    width: 100%;
    &__info {
        max-width: 310px;
        height: 234px;
        &_left {
            transform: translateX(-10px);
        }
    }
    &__heading {
        width: 300px;
        color: #fff;
        margin: 16px 0px 0px 0px;
        letter-spacing: 0.09em;
    }
    &__text {
        padding-left: 20px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.09em;
        color: #F1CDB3;
        margin-top: 5px;
    }
    &__png {
        object-fit: contain;
    }
    &__dog {
        display: block;
    }
}
.item {
    display: flex;
    margin-top: 40px;
    cursor: pointer;
    &_second {
        margin-top: 30px;
    }
}
.item_mt40{
    margin-top: 40px;
}
.footer__info:nth-child(2) {
    width: 310px;
}