main {
    position: relative;
    background: url("../../../assets/images/bg/component.jpg") no-repeat;
    height: 908px;
    width: 100%;
    object-fit: fill;
    background-size: 100% 100%;
    overflow: hidden;
}
.main__heading {
    font-family: 'Georgia';
    font-style: normal;
    font-size: 44px;
    margin: 223px 0px 0px 0px;
    width: 360px;
    color: #fff;
    line-height: 130%;
    letter-spacing: 0.05em;
}
.main__subheading {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-top: 42px;
}
.btn__primary {
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    align-items: center;
    padding: 15px 45px;
    border: 0;
    margin-top: 42px;
    cursor: pointer;
    a {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.04em;
    }
}
.btn__text {
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    white-space: nowrap;
}