@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&family=Roboto&display=swap');
* {
    // font-family: 'Noto Serif Georgian', serif;
    font-family: 'Roboto', sans-serif;
    width: 400;
    box-sizing: border-box;
    color: #fff;
}
body {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}
h5 {
    margin: 0;
}
.container {
    &__main, &__help {
        width: 1200px;
        margin: 0 auto;
    }
    &__about {
        display: flex;
        justify-content: center;
        width: 1200px;
        margin: 0 auto;
    }
    &__footer {
        overflow: hidden;
        display: flex;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-between;

    }
}
.hamburger {
    display: none;
    color: #F1CDB3;
    width: 30px;
    height: 22px;
    position: absolute;
    right: 53px;
    font-size: 40px;

    cursor: pointer;
}
.heading {
    width: 370px;
    letter-spacing: 0.06em;
    color: #545454;
    font-size: 35px;
    margin-top: 0;

    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
a {
    text-decoration: none;
}
.hide {
    display: none;
}


@import '_main';
@import '_about';
@import '_homeless';
@import '_help';
@import '_donation';
@import '_footer';
@import '_modal';
@import '_media';
@import '_media-footer';