@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  width: 400;
  box-sizing: border-box;
  color: #fff;
}

body {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}

h5 {
  margin: 0;
}

.container__main, .container__help {
  width: 1200px;
  margin: 0 auto;
}
.container__about {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}
.container__footer {
  overflow: hidden;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.hamburger {
  display: none;
  color: #F1CDB3;
  width: 30px;
  height: 22px;
  position: absolute;
  right: 53px;
  font-size: 40px;
  cursor: pointer;
}

.heading {
  width: 370px;
  letter-spacing: 0.06em;
  color: #545454;
  font-size: 35px;
  margin-top: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

main {
  position: relative;
  background: url("../../../assets/images/bg/component.jpg") no-repeat;
  height: 908px;
  width: 100%;
  object-fit: fill;
  background-size: 100% 100%;
  overflow: hidden;
}

header {
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
  width: 1200px;
  height: 60px;
  justify-content: space-between;
}

.logo {
  font-style: normal;
  font-weight: 400;
}
.logo__title {
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  width: 184px;
  height: 35px;
  top: calc(50% - 17.5px - 12.5px);
  cursor: pointer;
}
.logo__subtitle {
  width: 179px;
  height: 15px;
  left: 4px;
  top: calc(50% - 7.5px + 22.5px);
  font-size: 13px;
  line-height: 15px;
  margin-top: 10px;
}
.logo__dog {
  position: absolute;
  left: calc(50% - 349px + 251px);
  bottom: 0px;
}

.nav__container {
  align-items: center;
  vertical-align: middle;
  width: 443px;
}
.nav__menu {
  display: flex;
  width: 443px;
  height: 27px;
  justify-content: space-between;
  margin-top: 16px;
}
.nav__item {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  cursor: pointer;
}
.nav__item_selected {
  display: block;
  width: 114px;
  height: 3px;
  background: #F1CDB3;
}

.header__info {
  width: 460px;
  height: 322px;
}

.main__heading {
  font-size: 44px;
  margin: 223px 0px 0px 0px;
  max-width: 330px;
  color: #fff;
}

.main__subheading {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin-top: 42px;
}

.btn__primary {
  background: #F1CDB3;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  align-items: center;
  padding: 15px 45px;
  border: 0;
  margin-top: 42px;
  cursor: pointer;
}

.btn__text {
  color: #292929;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
}

.about {
  height: 588px;
  padding: 80px 0px 100px 0px;
}
.about__dog {
  display: block;
  padding-right: 120px;
}
.about__info {
  width: 430px;
  height: 380px;
}
.about__heading {
  width: 370px;
  letter-spacing: 0.06em;
  color: #545454;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.about__subheading {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  margin-top: 25px;
}

.homeless {
  height: 877px;
  padding: 80px 0px 100px 0px;
  background: #F6F6F6;
}
.homeless__heading {
  width: 400px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 990px;
  height: 435px;
  margin: 60px 53px;
}
.slider__round {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  margin-top: 252px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.slider__round:hover {
  background: #FDDCC4;
  border: 0;
}
.slider__next {
  right: 40px;
}
.slider__prev {
  left: 40px;
}
.slider__indicator {
  text-align: center;
  color: #000;
  font-size: 20px;
  margin-top: 50%;
  transform: translateY(-50%);
}
.slider__item {
  width: 270px;
  max-height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  height: 435px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.slider__img {
  width: 100%;
}
.slider__name {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 30px 0px;
}
.slider__more {
  display: block;
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  width: 187px;
  height: 52px;
  color: #292929;
  letter-spacing: 0.06em;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: #fff;
  margin: 0 auto;
  transition-duration: 0.3s;
  cursor: pointer;
}
.slider__more:hover, .slider__more_active {
  background: #FDDCC4;
  border: 0;
}

.btn__under-slider {
  display: block;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  border: 0;
  margin: 0 auto;
  cursor: pointer;
}

.btn__under-slider:hover {
  background: #FDDCC4;
  border: 0;
}

.help {
  padding: 80px 0px 100px 0px;
  min-height: 611px;
}
.help__heading {
  text-align: center;
  margin: 0 auto;
}
.help__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}
.help__item {
  height: 113px;
  margin: 55px 60px;
}
.help__png {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.help__descr {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-top: 30px;
}

.help__item:first-child {
  margin-left: 0;
}

.help__item:nth-child(5) {
  margin-right: 0;
}

.help__item:nth-child(6), .help__item:nth-child(7), .help__item:nth-child(8), .help__item:nth-child(9) {
  margin-bottom: 0px;
  margin-top: 0;
}

.donation {
  background: #F6F6F6;
  height: 462px;
  display: flex;
  justify-content: center;
  padding: 80px 0px 100px 0px;
}
.donation__dog {
  display: block;
  margin-right: 30px;
}
.donation__info {
  width: 380px;
}
.donation__heading {
  margin-bottom: 0;
}
.donation__bank {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 20px 0px;
}
.donation__input {
  padding: 10px 15px;
  width: 349px;
  height: 43px;
  display: flex;
  background: #F1CDB3;
  border-radius: 9px;
}
.donation__card {
  padding-left: 15px;
  background: #F1CDB3;
  border: 0;
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  width: 300px;
}
.donation__legal {
  width: 100%;
  color: #B2B2B2;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  max-height: 72px;
  margin-top: 20px;
}

.footer {
  background: url("../../../assets/images/bg/footer-bg.jpg") no-repeat;
  object-fit: fill;
  background-size: 100% 100%;
  position: relative;
  height: 350px;
  padding: 40px;
  width: 100%;
}
.footer__info {
  max-width: 310px;
  height: 234px;
}
.footer__heading {
  width: 100%;
  color: #fff;
  margin: 16px 0px 0px 0px;
}
.footer__text {
  padding-left: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-top: 5px;
}
.footer__png {
  object-fit: contain;
}
.footer__dog {
  display: block;
  margin-left: 160px;
}

.item {
  display: flex;
  margin-top: 40px;
}

.footer__info:last-child {
  margin-left: 160px;
  width: 310px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
}
.modal__container {
  position: relative;
  width: 952px;
  margin: 10% auto;
  height: 552px;
}
.modal__round {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  text-align: center;
}
.modal__close {
  text-align: center;
}
.modal__window {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 500px;
  width: 900px;
  margin: 0 auto;
  background: #fff;
  display: flex;
}
.modal__img {
  width: 500px;
  height: 500px;
}
.modal__info {
  width: 351px;
  height: 362px;
  margin-top: 50px;
  margin-left: 29px;
}
.modal__info_name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}
.modal__info_type {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  margin-top: 10px;
  letter-spacing: 0.06em;
  color: #000000;
}
.modal__info_descr {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  margin-top: 40px;
  letter-spacing: 0.06em;
  color: #000000;
}
.modal__ul {
  margin-top: 40px;
  padding-left: 13px;
}
.modal__li {
  color: #000;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.big__text {
  color: #000;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

li {
  color: #F1CDB3;
}

@media (max-width: 1279px) {
  .container__main {
    width: 708px;
  }
  .container__about {
    flex-direction: column-reverse;
    width: 437px;
  }
  .container__help {
    width: 630px;
  }
  main {
    height: 1165px;
    padding: 30px;
  }
  header {
    width: 708px;
    margin-top: 0px;
  }
  .logo__dog {
    display: block;
    position: static;
    margin-top: 100px;
    margin-left: 139px;
    right: 30px;
    width: 569px;
    height: 593px;
  }
  .main__heading {
    max-width: 380px;
    margin: 60px 0px 0px 0px;
  }
  .header__info {
    margin: 0 auto;
  }
  .about {
    height: 1048px;
  }
  .about__info {
    margin: 0px 0px 80px 0px;
  }
  .about__dog {
    margin: 0 auto;
    padding: 0;
    width: 300px;
  }
  .slider {
    width: 708px;
  }
  .slider__wrapper {
    margin: 60px 12px;
    width: 580px;
  }
  .help__wrapper {
    justify-content: space-between;
    margin-top: 60px;
  }
  .help__item {
    width: 170px;
    height: 113px;
    margin: 0px;
  }
  .help__descr {
    white-space: nowrap;
  }
  .help__item:nth-child(2), .help__item:nth-child(5), .help__item:nth-child(8) {
    margin: 0 60px;
  }
  .help__item:nth-child(4), .help__item:nth-child(5), .help__item:nth-child(6) {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .donation {
    flex-direction: column-reverse;
    height: 783px;
  }
  .donation__dog {
    margin: 0 auto;
    width: 505px;
    height: 261px;
    margin-top: 60px;
  }
  .donation__info {
    margin: 0 auto;
  }
  .hamburger {
    display: none;
  }
  .modal__container {
    width: 682px;
    height: 402px;
  }
  .modal__window {
    width: 630px;
    height: 350px;
  }
  .modal__img {
    width: 350px;
    height: 350px;
  }
  .modal__info {
    width: 260px;
    height: 303px;
    margin-left: 11px;
    margin-top: 10px;
    overflow: hidden;
  }
  .modal__info_descr {
    margin-top: 20px;
    font-size: 13px;
    line-height: 110%;
  }
  .modal__ul {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .heading {
    font-size: 25px;
  }
  .hamburger {
    display: block;
  }
  .container__main {
    width: 300px;
    margin: 0 auto;
  }
  .container__about {
    width: 300px;
  }
  .container__help {
    width: 290px;
  }
  main {
    height: 823px;
    padding: 30px 10px 0px 10px;
  }
  .nav__container {
    display: none;
  }
  .main__heading {
    font-size: 25px;
    text-align: center;
    max-width: 280px;
    margin: 60px auto 0px auto;
  }
  .main__subheading {
    text-align: center;
  }
  .btn__primary {
    display: block;
    margin: 42px auto 0px auto;
  }
  .header__info {
    width: 300px;
    height: 296px;
  }
  .logo__dog {
    position: inherit;
    display: block;
    width: 260px;
    height: 271.77px;
    right: 10px;
    margin: 0 auto;
    margin-top: 105px;
  }
  .about {
    height: 974px;
    padding: 42px 10px;
  }
  .about__info {
    width: 100%;
    height: 494px;
    margin-bottom: 0;
    padding: 0 15px;
  }
  .about__heading {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }
  .about__subheading {
    line-height: 160%;
    text-align: justify;
  }
  .about__subheading:nth-child(3) {
    margin-top: 22px;
  }
  .about__dog {
    width: 260px;
    margin-top: 42px;
  }
  .homeless {
    padding: 42px 10px;
    height: 791px;
  }
  .homeless__heading {
    width: 300px;
  }
  .slider {
    width: 270px;
    flex-wrap: wrap;
    height: 549px;
    margin-bottom: 42px;
  }
  .slider__container {
    width: 300px;
  }
  .slider__item {
    margin: 0px auto;
  }
  .slider__wrapper {
    height: 435px;
    margin: 42px auto 20px auto;
  }
  .slider__round {
    margin-top: 0;
  }
  .help {
    height: 745px;
    padding: 42px 15px;
  }
  .help__wrapper {
    margin-top: 42px;
    width: 100%;
  }
  .help__heading {
    width: 100%;
  }
  .help__item, .help__item:nth-child(2), .help__item:nth-child(5), .help__item:nth-child(8), .help__item:nth-child(4), .help__item:nth-child(6), .help__item:nth-child(7), .help__item:nth-child(9) {
    margin: 0;
    margin-top: 30px;
    width: 130px;
    height: 87px;
  }
  .help__item:nth-child(1), .help__item:nth-child(2) {
    margin-top: 0;
  }
  .help__descr {
    font-size: 15px;
    margin-top: 20px;
  }
  .help__png {
    height: 50px;
    width: 50px;
  }
  .donation {
    padding: 42px 10px;
    height: 542.2px;
  }
  .donation__dog {
    width: 260px;
    margin-top: 42px;
    height: 135.2px;
  }
  .donation__info {
    width: 100%;
    height: 281px;
  }
  .donation__heading {
    width: 100%;
    text-align: center;
  }
  .donation__bank {
    line-height: 160%;
    letter-spacing: 0;
    text-align: center;
  }
  .donation__input {
    width: 281px;
    margin: 0 auto;
  }
  .donation__card {
    width: 220px;
    font-size: 15px;
  }
  .donation__legal {
    width: 280px;
    height: 90px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 1279px) {
  .container__footer {
    width: 708px;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }
  .footer {
    width: 100%;
    height: 639px;
    padding: 30px;
    padding-bottom: 0;
  }
  .footer__dog {
    margin: 0;
    display: block;
    height: 310px;
    margin-top: 65px;
  }
  .footer__info:first-child {
    margin-right: 60px;
    width: 290px;
  }
  .footer__heading {
    font-size: 33px;
    margin-top: 0;
  }
  .item:nth-child(3), .item:nth-child(2) {
    margin-top: 33px;
  }
}
@media (max-width: 767px) {
  .container__footer {
    width: 300px;
  }
  .footer {
    padding: 30px 10px 0px 10px;
    height: 809px;
    width: 100%;
  }
  .footer__info:nth-child(1) {
    margin: 0;
  }
  .footer__heading {
    text-align: center;
  }
  .footer__dog {
    width: 260px;
    height: 269px;
    margin-top: 40px;
  }
  .item {
    justify-content: center;
  }
}